.back
{
	background-color: #D8F3FE;
}
.header
{
	background-color: #00AAF3;
	border-radius: 7px;
	height: 70px;
	width: 100%;
}
.off
{
	margin-top: 18px;
	margin-left: 70px;
	width: 35px;
	height: 35px;
	position: absolute;
}
.camagru
{
	text-align: center;
	font-family: Courier;
	font-size: 35px;
	font-weight: 600;
	color : white;
	margin: 0 auto;
	padding: 15px;
}
.inscription
{
	width: 100%;
	height: 250px;
}
.insc
{
	font-size: 23px;
	font-family: monospace;
	padding-left: 15%;
}
.login
{	
	margin-left: 15%;
	height: 40px;
}
.password
{
	height: 40px;
}
.mail
{
	height: 40px;
	margin-left: 15%;
	width: 300px;
}
.footer
{
	background-color: white;
	margin-top: 1000px;
	height: 100px;
}
.but
{
	height: 30px;
	margin-left: 15%;
	width: 300px;
	background-color: #00DB3A;
	border-radius: 7px;
}
.maine
{
	width : 50%;
	margin-left: 30%;
	height: 800px;
	float: left;
}
.droite
{
	margin-top: -735px;
	margin-left: 40%;
	width: 30%;
	height: 800px;
	position: absolute;
	float: right;
}
.photo
{
	height: auto;
	margin-right: 75%;
	position: absolute;
}

.galeriebutton
{
	position: absolute;
	margin-left: 80%;
	margin-top: 20px;
	width: 35px;
}
.snap
{
	height: 30px;
	width: 300px;
	background-color: #00DB3A;
	border-radius: 7px;
}
.foot
{
	width: 140%;
	bottom: 0;
	left: 0;
	height: 70px;
	position: fixed;
}
.soustop
{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    background-color: white;
    border-radius: 7px;
    margin-top: 0px;
    color: #00AAF3;
}
li
{
	display: inline;
	padding: 8px;
	color: #00AAF3;
}
a:link 
{ 
 text-decoration:none; 
 color: #00AAF3;
 font-family: sans-serif;
}
li a:hover {
    background-color: #D8F3FE;
    height: 20px;
}
a:visited 
{ 
color: #00AAF3; 
}

.myphoto
{
	border-radius: 7px;
	height: 200px;
	margin: 20px;
}
.delete
{
	text-align: center;
	position: absolute;
	margin-top: -50px;
	margin-left: 15%;
	width: 3%;
	border: 1px solid;
	border-color: #00AAF3;
	height: 20px;
	border-radius: 7px;
}
.butdelete
{
	text-align: center;
	position: absolute;
	margin-top: -50px;
	margin-left: 5%;
	width: 9%;
	background-color: #D8F3FE;
	border: 1px solid;
	border-color: #00AAF3;
	border-radius: 7px;
}